@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#__next {
  @apply bg-white dark:bg-black text-black dark:text-white font-coiny w-full h-full;
}

@font-face {
  font-family: 'Coiny';
  src: url('/assets/fonts/Coiny-Regular.ttf');
}

body::-webkit-scrollbar {
  @apply w-3;
}

body::-webkit-scrollbar-track {
  @apply bg-black;
}

body::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-md border-2 border-black border-solid;
}

a,
button {
  @apply cursor-pointer;
}

a:hover {
  @apply text-highlight transition ease-in-out;
}

main {
  @apply p-5 bg-white dark:bg-black text-black dark:text-white;
}

section {
  @apply my-20;
}

section,
.first {
  @apply mt-1;
}

.gradient {
  @apply bg-gradient-to-r from-primary to-highlight bg-clip-text text-transparent;
}
