html,
body,
#__next {
  @apply bg-white dark:bg-black text-black dark:text-white font-coiny w-full h-full;
}

@tailwind base;

a {
  @apply cursor-pointer;
}

a:hover {
  @apply text-highlight transition ease-in-out;
}

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: 'Coiny';
  src: url('/assets/fonts/Coiny-Regular.ttf');
}

main {
  @apply p-5 bg-white dark:bg-black text-black dark:text-white;
}

section {
  @apply my-20;
}

section,
.first {
  @apply mt-1;
}

.gradient {
  @apply bg-gradient-to-r from-primary to-highlight bg-clip-text text-transparent;
}
